<%=render(partial: "application/errors", locals: {errors: @item.errors.full_messages})%>

  <h3> Adjust Your Inventory </h3>



  <% if @item %>
    <h3><%= @item.name %></h3>
  <% end %>


  <%= form_for(@inventory, url: form_url_helper(@item)) do |f| %>
    <h3><%= f.label "Quantity  " %><%= f.number_field(:quantity) %><br/></h3>
    <h3><%= f.label "Units  " %>
    <%= f.select :unit, ["Rounds", "Single Unit", "Box(s)", "Case(s)", "Pallet(s)", "Other"], :prompt => "Select One" %><br/></h3>
 
    
    
    <% if !@item %>
      <%= f.fields_for(:item) do |i| %>
        <h3><%= i.label "Item " %><%= i.collection_select :id, current_owner.items, :id, :name %></h3>
      <% end %>
      <%= f.hidden_field :owner_id, value: current_owner.id %>
    <% end %>
    <h3><%= f.submit("Save") %></h3>
   <% end %>