<h3><% items.each do |m| %></h3>
 <h3><%= m.name %></h3>
<%# <li><%=m.quantity%> 
<%# <%=m.unit <%=show_item(m, index)%> 
<%# <%= (m.user == current_user) ? (link_to "Edit", edit_item_path(m)) : (nil) %>
<%# </li> %> 
<%end%>