<h1> Good Day! <%= current_owner.fname %></h1>
<h3>Below are the items & inventory you're looking for.</h3><br/>

 <% @items.each do |item| %>
  <h2 class="center"><%= link_to(item.name, item_path(item)) %></> </h3>

    <h4 class="center"><% item.inventories.each do |q| %>
    <%= q.quantity %> <%= q.unit %></h4>

      <% item.owners.each do |o| %>
        <%= o.company_name %> <%= o.location %>
        <% end %>
    <% end %>
  <% end %>

<% if !current_owner.items.exists? %>
   <h3 class="center">You currently have no items.</h3>
  <% end %>