<!DOCTYPE html>
<html>
  <head>
    <title> Tactical Gun Supply </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if current_user %>
      <%=link_to "All Items", items_path %>
      <%=link_to "Add an Item", new_item_path %>
      <%=link_to "All Inventories", inventories_path %>
      <%=link_to "Add Inventory", new_inventory_path %>
      <%=link_to "My Items", owner_items_path(current_owner) %>
      <%= button_to "Get Outta Here", logout_path, method: :post %>
      <%else%>
        <%= link_to "Get In", login_path %>
        <%= link_to "Sign Up", signup_path %>
      <%end%>    
    <%= yield %>
  </body>
</html>
