<!DOCTYPE html>
<html>
  <head>
   <title> Tactical Gun Supply </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul>     
    <% if current_owner %>
      <%# <li class="nav"><%=link_to "Search Owner's Items", items_path %> 
      <li class="nav"><%=link_to "Search Everyone's Items", inventories_path(current_owner) %>
      <li class="nav"><%=link_to "All Owner's Items", items_path %>
      <li class="nav"><%=link_to "Add Item", new_item_path %>
      <li class="nav"><%=link_to "My Items",  owner_items_path(current_owner) %>
      <li class="nav"><%=link_to "Edit My Profile", edit_owner_path(current_owner) %>
      <li class="nav"><%=link_to "Home", '/' %>
      <li class="nav.a"><%= button_to "Log Out", logout_path, method: :post %>
    <%else%>
      <li class="nav"></li><%= link_to('Log in with Facebook!', '/auth/facebook') %> 

      <li class="nav"><%= link_to "Log In", login_path %>
      <li class="nav"><%= link_to "Sign Up", signup_path %>

  <%end%> 
  </ul>
  

  <body>
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=3868792436541551&autoLogAppEvents=1" nonce="qZ6BVs36"></script>
    <%= yield %>
  </body>
</html>
